$black: #161821;
$white: #c6c8d1;
$red: #e27878;
$green: #b4be82;
$yellow: #e2a478;
$blue: #84a0c6;
$magenta: #a093c7;
$cyan: #89b8c2;

html {
  font-size: 10px;
}

body {
  background: $black;
  color: $white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
  font-size: 1.6rem;

  main {
    flex: 1;
    margin: auto 24px;
    padding-top: 24px;
  }

  .not-found {
    flex: 1;
    margin: auto;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      padding: 6px;
      border-radius: 10px;
      background: $red;
      color: $black;
      font-size: 3.6rem;
      font-weight: bold;
    }
  }
}

a, {
  color: $blue;

  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

header {
  margin: 0 24px;
  padding-top: 24px;
  text-align: left;
  background: $black;

  h1 {
    margin: 0;
    padding: 0 12px 0 12px;
    border-left: solid 12px $yellow;
    border-right: solid 12px $yellow;
    border-radius: 10px;
    line-height: 1.3;
    background: $yellow;
    font-size: 3.75vw;

    a, a:hover {
      display: inline-block;
      padding: 0 6px;
      border-left: solid 4px $black;
      border-right: solid 4px $black;
      background: $red;
      color: $black;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 24px;
  padding-bottom: 24px;
  background: $black;
  text-align: center;

  .links {
    margin: 0 auto;
    padding: 0 4px;
    border-left: solid 48px $green;
    border-right: solid 48px $green;
    border-radius: 20px;

    a {
      display: inline-block;
      width: 4rem;
      height: 4.2rem;
      margin: 0;
      background: $magenta;
      color: $black;
      font-size: 3.2rem;
      font-weight: bold;
    }
  }

  .copyright {
    display: block;
    margin-top: 8px;
    text-align: center;
    color: $cyan;
    font-weight: bold;
  }
}

ul.pagination {
  display: flex;
  justify-content: center;
  margin: 24px auto;
  padding-inline-start: 0;
  list-style-type: none;

  li {
    height: 3.2rem;
    width: 3.2rem;
    margin-right: 4px;
    text-align: center;
    background: $cyan;

    &:first-child {
      width: 4.8rem;
      background: $red;
      border-left: solid 8px $red;
      border-top-left-radius: 14px;
      border-bottom-left-radius: 14px;
    }

    &:last-child {
      width: 4.8rem;
      background: $red;
      border-right: solid 8px $red;
      border-top-right-radius: 14px;
      border-bottom-right-radius: 14px;
    }
  }

  * {
    margin: 0 auto;
    color: $black;
    font-size: 2rem;
  }
}


.articles {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  margin: 12px 24px;

  article {
    position: relative;
    width: 300px;
    margin: 12px;
    color: $white;

    .entry-title {
      padding: 0 4px;
      font-size: 2rem;
    }

    .entry-summary {
      position: relative;
      z-index: 100;
      margin-top: 12px;
      padding: 0 12px;
      border-left: solid 24px $green;
      border-right: solid 24px $green;
      border-radius: 10px;
      background: $black;
    }

    &:hover {
      .entry-summary {
        z-index: 1;
        border-color: $red;
      }
    }

    .read-more {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      padding: 6px;
      border-radius: 10px;
      background: $red;
      color: $black;
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
}

.single-entry {
  margin: 0 24px;

  .entry-content {
    margin: 12px 0;
    padding: 0 24px;
    border-left: solid 24px $green;
    border-right: solid 24px $green;
    border-radius: 10px;

    img {
      display: block;
      max-width: 80%;
      margin: 12px auto;
    }

    pre {
      display: block;
      width: 85%;
      margin: 12px auto;
      padding: 8px;
      border: solid 2px $white;
    }
  }
}

.entry-header {
  text-align: center;
  border-left: solid 24px $yellow;
  border-right: solid 24px $yellow;
  border-radius: 10px;

  .entry-title {
    margin-bottom: 0;
    border-left: solid 4px $black;
    border-right: solid 4px $black;
    background: $blue;
    color: $black;
  }

  .publish-date {
    display: block;
    border-left: solid 4px $black;
    border-right: solid 4px $black;
    background: $blue;
    color: $black;
    font-size: 1.4rem;
    font-weight: bold;
  }
}

@media screen and (min-width:960px) {
  header h1 {
    font-size: 3.6rem;
  }
}
@media screen and (max-width:640px) {
  header h1, .wrapper .not-found span {
    font-size: 2.4rem;
  }

  ul.pagination {
    li {
      height: 2rem;
      width: 2rem;

      &:first-child {
        width: 2.6rem;
        background: $red;
        border-left: solid 8px $red;
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
      }

      &:last-child {
        width: 2.6rem;
        background: $red;
        border-right: solid 8px $red;
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;
      }
    }

    * {
      font-size: 1.2rem;
    }
  }
}
