$black: #161821;
$white: #c6c8d1;
$red: #e27878;
$green: #b4be82;
$yellow: #e2a478;
$blue: #84a0c6;
$magenta: #a093c7;
$cyan: #89b8c2;

html {
  font-size: 10px;
}

body {
  background: $black;
  color: $white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  font-size: 2.5vw;

  main {
    flex: 1;
    margin: auto 24px;
    padding-top: 24px;
  }

  .not-found {
    flex: 1;
    margin: auto;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      padding: 6px;
      border-radius: 10px;
      background: $red;
      color: $black;
      font-size: 3.6rem;
      font-weight: bold;
    }
  }
}

a, {
  color: $blue;

  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

header {
  margin: 0 24px;
  text-align: right;
  border-left: 6em solid $yellow;
  border-bottom: 1em solid $yellow;
  border-bottom-left-radius: 48px;
  background: $yellow;

  h1 {
    margin: 0;
    padding: 0 12px 0 12px;
    border-bottom-left-radius: 48px;
    line-height: 1.6;
    background: $black;
    font-size: 3.75vw;

    a, a:hover {
      display: inline-block;
      padding: 0 6px;
      color: $cyan;
    }
  }
}

footer {
  margin: auto 24px;
  border-top: 1em solid $yellow;
  border-left: 6em solid $yellow;
  border-top-left-radius: 48px;
  background: $yellow;

  .inner-box {
    padding: 12px 4px;
    border-left: solid 48px $black;
    border-top-left-radius: 64px;
    background: $black;
  }

  .accounts {
    margin-left: 1em;
    margin-bottom: 0.5em;

    a {
      display: inline-block;
      width: 1.4em;
      margin-top: 8px;
      text-align: center;
      border-radius: 10px;
      background: $magenta;
      color: $black;
      font-size: 1em;
      font-weight: bold;
    }
  }

  .copyright {
    display:block;
    text-align: left;
    margin: 0 auto;
    padding-left: 1em;
    background: $black;
    color: $cyan;
    font-size: 12px;
    font-weight: bold;
  }
}

ul.pagination {
  display: flex;
  justify-content: center;
  margin: 24px auto;
  padding-inline-start: 0;
  list-style-type: none;

  li {
    height: 3.2rem;
    width: 3.2rem;
    margin-right: 4px;
    text-align: center;
    background: $cyan;

    &:first-child {
      width: 4.8rem;
      background: $red;
      border-left: solid 8px $red;
      border-top-left-radius: 14px;
      border-bottom-left-radius: 14px;
    }

    &:last-child {
      width: 4.8rem;
      background: $red;
      border-right: solid 8px $red;
      border-top-right-radius: 14px;
      border-bottom-right-radius: 14px;
    }
  }

  * {
    margin: 0 auto;
    color: $black;
    font-size: 2rem;
  }
}


.articles {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-content: center;
  margin: 12px auto;

  article {
    position: relative;
    overflow: hidden;
    max-width: 80%;
    margin: 2em auto 0;
    color: $white;

    .entry-summary {
      position: relative;
      z-index: 100;
      overflow: hidden;
      margin-top: 12px;
      padding: 0 12px;
      max-height: 10em;
      max-width: 40em;
      background: $black;
    }

    &:hover {
      .entry-summary {
        color: $blue;
      }
    }
  }
}

.single-entry {
  margin: 0 24px;

  .entry-content {
    margin: 12px 0;
    padding: 24px 3em;
    border-radius: 10px;

    h2, h3, h4, h5, h6 {
      color: $yellow;
    }

    img {
      display: block;
      max-width: 90%;
      margin: 12px auto;
    }

    pre {
      display: block;
      width: 90%;
      margin: 12px auto;
      padding: 8px;
      border: solid 2px $white;
      font-size: 1.4rem;
    }
  }
}

.entry-header {
  text-align: center;
  border-left: solid 24px $yellow;
  border-right: solid 24px $yellow;
  border-radius: 10px;

  .entry-title {
    margin-bottom: 0;
    border-left: solid 4px $black;
    border-right: solid 4px $black;
    background: $blue;
    color: $black;
    font-size: 2.4rem;
  }

  .publish-date {
    display: block;
    padding-right: 2em;
    border-left: solid 4px $black;
    border-right: solid 4px $black;
    text-align: right;
    text-transform: uppercase;
    background: $blue;
    color: $black;
    font-size: 0.6em;
    font-weight: bold;
  }
}

@media screen and (min-width:960px) {
  .wrapper {
    font-size: 2.4rem;
  }
  header h1 {
    font-size: 3.6rem;
  }
}

@media screen and (max-width:640px) {
  .wrapper {
    font-size: 1.6rem;
  }

  header h1, .wrapper .not-found span {
    font-size: 2.4rem;
  }

  ul.pagination {
    li {
      height: 2rem;
      width: 2rem;

      &:first-child {
        width: 2.6rem;
        background: $red;
        border-left: solid 8px $red;
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
      }

      &:last-child {
        width: 2.6rem;
        background: $red;
        border-right: solid 8px $red;
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;
      }
    }

    * {
      font-size: 1.2rem;
    }
  }

  .entry-header .entry-title {
    font-size: 1.6rem;
  }

  .single-entry .entry-content {
    padding: 0 8px;
    border: none;
  }
}
