      <footer>
        <div class="accounts">
          {{ if .Site.Params.github }}
          <a href="{{ .Site.Params.github }}"><i class="fab fa-github"></i></a>
          {{ end }}
          {{ if .Site.Params.facebook }}
            <a href="{{ .Site.Params.facebook }}"><i class="fab fa-facebook-f"></i></a>
          {{ end }}
          {{ if .Site.Params.twitter }}
            <a href="{{ .Site.Params.twitter }}"><i class="fab fa-twitter"></i></a>
          {{ end }}
          {{ if .Site.Params.instagram }}
            <a href="{{ .Site.Params.instagram }}"><i class="fab fa-instagram"></i></a>
          {{ end }}
        </div>
        <span class="copyright">copyright by {{ .Site.Params.author }}</span>
      </footer>
    </div>
  </body>
</html>
