      <footer>
        <div class="links">
          {{ if .Site.Params.github }}
          <a href="{{ .Site.Params.github }}" target="_blank"><i class="fab fa-github"></i></a>
          {{ end }}
          {{ if .Site.Params.facebook }}
            <a href="{{ .Site.Params.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
          {{ end }}
          {{ if .Site.Params.twitter }}
            <a href="{{ .Site.Params.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
          {{ end }}
          {{ if .Site.Params.instagram }}
            <a href="{{ .Site.Params.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
          {{ end }}
            <a href="{{ .Site.RSSLink }}" target="_blank"><i class="fas fa-rss"></i></a>
        </div>
        {{ if .Site.Params.copyright }}<span class="copyright">{{ .Site.Params.copyright  }}</span>{{ end }}
      </footer>
    </div>
  </body>
</html>
